<div class="thought-form-container">

    <a href="/thoughts/profile">Voltar</a>
    <h1>Edite seu Perfil:</h1>
    <form action="/thoughts/editUser/{{user.id}}" method="post" enctype="multipart/form-data">
        <div class="form-control">
            <label for="title">Nome:</label><br>
            <input type="text" name="title" value="{{user.name}}">
        </div>
        <div class="form-control">
            <label for="weight">Email:</label><br>
            <input type="text" name="weight" value="{{user.email}}">
        </div>
        <div class="form-control">
            <label for="state">Estado:</label><br>
            <select id="state" name="state" style="text-align: center; font-size: 20px;" onchange="loadCities()">
                <option selected>Selecione um Estado</option>
                <option onchange="loadCities()">AC</option>
                <option onchange="loadCities()">AL</option>
                <option onchange="loadCities()">AP</option>
                <option onchange="loadCities()">AM</option>
                <option onchange="loadCities()">BA</option>
                <option onchange="loadCities()">CE</option>
                <option onchange="loadCities()">DF</option>
                <option onchange="loadCities()">ES</option>
                <option onchange="loadCities()">GO</option>
                <option onchange="loadCities()">MA</option>
                <option onchange="loadCities()">MG</option>
                <option onchange="loadCities()">MS</option>
                <option onchange="loadCities()">MT</option>
                <option onchange="loadCities()">PA</option>
                <option onchange="loadCities()">PB</option>
                <option onchange="loadCities()">PR</option>
                <option onchange="loadCities()">PE</option>
                <option onchange="loadCities()">PI</option>
                <option onchange="loadCities()">RJ</option>
                <option onchange="loadCities()">RN</option>
                <option onchange="loadCities()">RS</option>
                <option onchange="loadCities()">RO</option>
                <option onchange="loadCities()">RR</option>
                <option onchange="loadCities()">SC</option>
                <option onchange="loadCities()">SP</option>
                <option onchange="loadCities()">SE</option>
                <option onchange="loadCities()">TO</option>
            </select>

        </div>
        <div class="form-control">
             <select id="city" name="city" style="text-align: center; font-size: 20px;">
            </select>
        </div>
       <div class="form-control">
                <label for="description">Descrição:</label><br>
                <input type="text" name="description" value="{{profile.description}}">
        </div>
       <div class="form-control">
                <label for="image">Selecionar Imagem:</label><br>
                <input type="file" id="image" name="image" accept="image/*">
        </div>
        <div class="submit">
             <input type="submit" value="Editar">
        </div>
    </form>

</div>

<script>
    async function loadCities(){
    const stateSelect = document.getElementById('state');
    const citySelect = document.getElementById('city');
    const selectedState = stateSelect.options[stateSelect.options.selectedIndex].text
    const cities = await fetch(`/cities/${selectedState}`)
    const response = await cities.text()
    citySelect.innerHTML = response;
    }
</script>