<div class="auth-container">
    <h2>Troca de Senha</h2>
    <div id="area">
        <div class="form-control"  style="margin-bottom: 24px;">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Digite seu Email" required>
        </div>
        <a onclick="send()" class="btn">Enviar código de verificação</a>
    </div>
    
</div>
<script>
    let area = document.querySelector('#area')
    
    function send(){

        let email = document.querySelector('#email').value
        fetch(`/sendCode/${email}`)
        window.alert('Código de verificação enviado ao seu endereço de email')
        area.innerHTML = `<form action="/resetPassword/${email}" method="post">
        <div class="form-control">
            <label for="token">Código de verificação:</label>
            <input type="text" name="token" placeholder="Digite o código enviado ao seu Email" required>
        </div>
        <div class="form-control">
            <label for="oldPassword">Senha antiga:</label>
            <input type="password" name="oldPassword" placeholder="Digite sua antiga Senha" required>
        </div>
        <div class="form-control">
            <label for="newPassword">Nova Senha:</label>
            <input type="password" name="newPassword" placeholder="Digite sua nova Senha" required>
        </div>
        <input type="submit" value="Cadastrar">
            <p><a href="/login">Voltar!</a></p> 
        </div>
    </form>`
    }
</script>